// Place all the styles related to the todo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  background: url('background.jpg') no-repeat center center fixed;
  font-family: Arial;
  color: #ffffff;
  margin:0;
  padding: 0;
}

#content a, a:visited{
  color: #000;
}


#header{
  top:0;
  left:0;
  width: 100%;
  height: 40px;
  background-color: rgba(120,8,0,0.6);
}

#header a, a:visited{
  color: #FFF;
}


#nav {
  top:0;
  left:0;
  width: 40%;
  margin: 0 auto;
}

#nav ul{
  margin: 0;
}
#nav ul li{
  line-height: 40px;
  display: inline;
  margin-top: 5px;
  margin-left: 20px;
}

#content{
  width: 40%;
  padding: 10px;
  background-color: #FFFFFF;
  color: #000000;
  margin: 0 auto;
  margin-top: 30px;
  /* Border */
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  font-size: 12px;
}

#new_task_link{
  width: 20px; 
  text-align: right;
}

table{
  border: 0;
  margin:0 auto;
  width: 100%;
}

table tr td{
  border: 0;
  text-align: center;
}

table tr.header{
  background-color: #444;
  color:  #FFF;
}

table tr.even{
  background-color: #777;
  color: #FFF;
}

table tr.odd{
  background-color: #EEE;
}

input.buttonDelete{
  float:left;
  width: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url('delete.png') no-repeat center top;
  cursor: pointer;
}
input.buttonEdit{
  float:left;
  width: 30px;
  margin: 0;
  padding: 0;
  border: 0;
  background: url('edit.png') no-repeat center top;
  cursor: pointer;
}
